body {
  font-family: "Microsoft YaHei";
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
}

#result {
  margin-top: 20px;
}
.card {
  width: 120px;
  height: 180px;
  margin: 10px;
  border: 2px solid;
  text-align: center;
  perspective: 1000px; /* 给卡片加上透视效果 */
  animation: flipIn 1s ease-out;
}

@keyframes flipIn {
  0% {
    transform: rotateY(90deg); /* 开始时卡片旋转90度 */
    opacity: 0;
  }
  50% {
    transform: rotateY(-10deg); /* 稍微偏离 90 度 */
  }
  100% {
    transform: rotateY(0); /* 最后正常显示 */
    opacity: 1;
  }
}

.SSR {
  border-color: gold;
  color: gold;
  box-shadow: 0 0 15px gold;
}

.SR {
  border-color: #b87333;
  color: #b87333;
}

.R {
  border-color: #aaa;
  color: #aaa;
}
